header, nav, main, footer{
    max-width: 70rem;
    margin: auto;
}

/*Navigation stuff goes here*/
#hamburgerButton {
    display: none;
    &.open {
      display: none;
    }
  }
  
#closeButton {
    display: none;
    &.open {
        display: none;
    }
}

#hamburgerNav {
  display: none;
  &.open {
    display: none;
  }
}

#desktopNav {
  display: block;
  ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 25px;
  }
  ul li a{
    text-align: right;
    text-decoration:  none;
    font-size: 20px;
    font-weight: 500;
    color: #0d0c3f;
  }
  li.active a{
    color:$secondaryFontColor;
  }
}
// nav{
//     position:static;
//     width: auto;
//     div {display:none;}
//     ul{
//         display:flex;
//         margin-left: 2%;
//     }
//     ul li a{
//         border: none;
//         padding: .6rem 1.5rem;
//   }// end anchors
// }//end nav

header {
    justify-content:left;
}  

#properties {
  display: grid;
  grid-template-columns: 1fr 1fr;
  section{
    grid-template-areas:
    "name"
    "photo"
    "address"
    "phone";
  }
  img {
    height: 250px;
    width: 100%;
  }
} // end properties parent



// create the for loop
@for $i from 1 through 12{
    $w: calc($i /12) *100%;
    .large-#{$i} {flex-basis: $w}
    }
    